.place__url-heading {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #AAAAAA;
    line-height: 12px;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
}